apiVersion: v1
kind: ConfigMap
metadata:
  labels:
{{ include "postgis.labels" . | indent 4 }}
  name: {{ include "postgis.fullname" . }}
data:
  init.sql: |-
    CREATE ROLE {{ .Values.postgres.customInit.user }} WITH SUPERUSER LOGIN PASSWORD '{{ .Values.postgres.customInit.password }}';
    {{- range .Values.postgres.customInit.databases }}
    CREATE DATABASE {{ . }} OWNER {{ $.Values.postgres.customInit.user }};
    {{- end }}
  init-data.sh: |-
    #!/bin/sh
    set -e
    if ls /docker-entrypoint-initdb.d/* 1> /dev/null 2>&1; then
      echo "DB already initialized. Exiting."
      exit 0
    fi
    apk add --no-cache wget
    CMD="mkdir /download && cd /download"
    echo $CMD
    eval $CMD
    echo "Downloading init data…"
    if ([ -z "$DL_USER" ] || [ -z "$DL_PASSWORD" ]); then
      echo "Downloading without credentials…"
      CMD="wget -v -O ./dump.tar.gz '{{ .Values.dataImport.initDataUrl }}'"
    else
      echo "Downloading with credentials…"
      CMD="wget -v --user $DL_USER --password $DL_PASSWORD -O ./dump.tar.gz '{{ .Values.dataImport.initDataUrl }}'"
    fi
    eval $CMD
    CMD="tar -zxf ./dump.tar.gz --overwrite"
    echo $CMD
    eval $CMD
    echo "Successfully extracted archive."
    echo "Copying files: $(ls -lah ./)"
    CMD="cp ./*.sql /docker-entrypoint-initdb.d/"
    echo $CMD
    eval $CMD
    echo
    echo "Done."
